/*********** 상단메뉴 ***********/

a{
  color: #000;
  text-decoration: none;
}

a:hover{
  color: #fff;
}

span:lang(en){
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 1.75rem;
}

.top-menu{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 35px;
  top: 0px;
  left: 0px;
  background: rgba(231, 234, 237, 1);
  z-index: 1;
}

.tab{
  flex-grow: 1;
  padding: 10px;
  text-align: left;
  background: rgba(231, 234, 237, 1);
  cursor: pointer;border-bottom: 1px solid #ccc;
  
}

#tab-week1{
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-radius: 12px 12px 0px 0px;
  z-index: 2;
}

.page-icon{
  fill: none;
  stroke: #231815;
  stroke-miterlimit: 10;
}

.page-icon-img{
  width: 11px;
  margin-right: 8px;
  float: left;
}

/*********** 주소 ***********/

.address{
  position: fixed;
  width: 100%;
  height: 25px;
  top: 35px;
  left: 0px;
  padding: 5px;
  background: #fff;
  z-index: 1;
}

.address-box{
  width: calc(100% - 20px);
  background: rgba(241, 243, 244, 1);
  border: 3px solid rgba(241, 243, 244, 1);
  border-radius: 10px;
}

.address-box span{
  margin-left: 5px;
}

/*********** 하단내용 ***********/

.content{
  display: none;
  position: fixed;
  width: 100%;
  height: calc(100% - 70px);
  top: 70px;
  left: 0px;
  padding: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; 
  overflow-x: hidden;
  border-top: 1px solid #ccc;
  background: #00ee00;
  z-index: 2;
}

img{
  width: 100%;
  height: auto;
}


/*********** 첫번째 페이지 ***********/


#content-week1{
  display: block;
  padding: 0px;
  z-index: 3;
  background: #eee;
}

.week1_page{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; 
}

.week1_box1{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

#img_welcome{
  position: relative;
  padding: 30px;
}

.img_welcome_abc{
  position: relative;
  width: calc(100% - 60px);
  height: auto;
  padding: 0px 30px;
}

.a{
  width: calc(33% - 8px);
  height: 460px;
  float: left;
  margin: 4px;
  border: 1px solid #000;
  border-radius: 0px;
  -webkit-animation-name: a; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: a;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes a {
  0%   {border-radius: 150px; background-color: #00ee00;}
  25%  {border-radius: 0px; background-color: transparent;}
  50%  {border-radius: 250px; background-color: #fff;}
  75%  {border-radius: 0px; background-color: transparent;}
  100% {border-radius: 150px; background-color: #00ee00;}
}

/* Standard syntax */
@keyframes a {
  0%   {border-radius: 150px; background-color: #00ee00;}
  25%  {border-radius: 0px; background-color: transparent;}
  50%  {border-radius: 250px; background-color: #fff;}
  75%  {border-radius: 0px; background-color: transparent;}
  100% {border-radius: 150px; background-color: #00ee00;}
}

.b{
  width: calc(33% - 8px);
  height: 460px;
  margin: 4px;
  background: transparent;
  float: left;
  border: 1px solid #000;
  -webkit-animation-name: b; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: b;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2s; 
  animation-delay: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes b {
  0%   {border-radius: 0px; background-color: #fff;}
  25%  {border-radius: 500px; background-color: transparent;}
  50%  {border-radius: 0px; background-color: #00ee00;}
  75%  {border-radius: 500px; background-color: transparent;}
  100% {border-radius: 0px; background-color: #fff;}
}

/* Standard syntax */
@keyframes b {
  0%   {border-radius: 0px; background-color: #fff;}
  25%  {border-radius: 500px; background-color: transparent;}
  50%  {border-radius: 0px; background-color: #00ee00;}
  75%  {border-radius: 500px; background-color: transparent;}
  100% {border-radius: 0px; background-color: #fff;}
}

.c{
  width: calc(33% - 8px);
  height: 460px;
  margin: 4px;
  background: transparent;
  float: left;
  border: 1px solid #000;
  -webkit-animation-name: c; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: c;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 3s; 
  animation-delay: 3s;
}

@-webkit-keyframes c {
  0%   {border-radius: 0px; background-color: #fff;}
  25%  {border-radius: 500px; background-color: #00ee00;}
  50%  {border-radius: 50px; background-color: transparent;}
  75%  {border-radius: 100px; background-color: #fff;}
  100% {border-radius: 0px; background-color: transparent;}
}

/* Standard syntax */
@keyframes c  {
 0%   {border-radius: 0px; background-color: #fff;}
  25%  {border-radius: 500px; background-color: #00ee00;}
  50%  {border-radius: 50px; background-color: transparent;}
  75%  {border-radius: 100px; background-color: #fff;}
  100% {border-radius: 0px; background-color: transparent;}
}

.week1_box2{
  position: relative;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.box2_column1{
  position: relative;
  width: 100%;
  height: 80px;
  padding-top: 13px;
}

.box2_column2{
  position: relative;
  width: calc(100% - 104px);
  height: calc(100% - 80px);
  font-size: 1.8rem;
  line-height: 2.7rem;
  padding: 80px 52px 90px;
  text-align: justify;
  word-break: keep-all;
}

.box2_column1_row1{
  position: relative;
  width: 50%;
  height: auto;
  padding: 20px 0px;
  font-size: 2.1rem;
  text-align: center;
  float: left;
}

.box2_column1_row2{
  position: relative;
  width: 50%;
  height: auto;
  padding: 20px 0px;
  font-size: 2.1rem;
  font-family: 'Noto Serif', serif;
  text-align: center;
  float: left;
}

.info{
  margin-bottom: 90px;
}

.plan{
  display: flex;
  border-bottom: 1px solid;
  cursor: default;
}

.plan:nth-child(1){
  padding-top: 60px;
}

.plan:nth-child(5){
  background-color: #00ee00;
  -webkit-animation-name: plan; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: plan;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes plan  {
  0%   {background-color: #00ee00;}
  25%  {background-color: transparent;}
  50%  {background-color: #00ee00;}
  75%  {background-color: transparent;}
  100% {background-color: #00ee00;}
}


.plan:nth-child(7){
  background-color: #ddd;
}

.plan:nth-child(8){
  background-color: #ddd;
}

.date{
  width: 20%;
  text-align: left;
}

.classname{
  width: 60%;
  text-align: center;
}

.place{
  width: 20%;
  text-align: right;
}

.box2_column1_row1:hover{
  color: #fff;
  cursor: pointer;
}

.box2_column1_row2:hover{
  color: #fff;
  cursor: pointer;
}

.plan div:hover{
  color: #fff;
}

.week1_box3{
  position: relative;
  width: calc(100% - 60px);
  height: auto;
  padding: 0px 30px 90px;
  background-color: transparent;
}

.box2_column1{
  position: relative;
  width: 100%;
  height: 80px;
  padding-top: 13px;
}

.box3_column1_row1{
  position: relative;
  width: 50%;
  height: auto;
  padding: 20px 0px;
  font-size: 2.1rem;
  text-align: center;
  float: left;
}

.box3_column1_row2{
  position: relative;
  width: 50%;
  height: auto;
  padding: 20px 0px;
  font-size: 2.1rem;
  text-align: center;
  float: left;
}


ul.website-list{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.1rem;
}
ul.website-list li{
  list-style: none;
}

ul.website-list li:nth-child(1){
  margin-bottom: 20px;
}

ul.website-list li:nth-child(2){
  margin-bottom: 20px;
}

ul.website-list li:nth-child(3){
  margin-bottom: 20px;
}

ul.website-list li:nth-child(4){
  margin-bottom: 120px;
}

.website-list-left{
  padding: 10px 0px 150px;
  margin: 0px;
  width: 33.3%;
  height: auto;
  list-style: none;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  float: left;
}

.website-list-center{
  padding: 10px 0px 150px;
  margin: 0px;
  width: 33.3%;
  height: auto;
  list-style: none;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  float: left;
}

.website-list-right{
  padding: 10px 0px 150px;
  margin: 0px;
  width: 33.3%;
  height: auto;
  list-style: none;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  float: left;
}

.week1_box4{
  position: relative;
  width: calc(100% - 60px);
  height: auto;
  background-color: transparent;
  padding: 0px 30px;
}

#video{
  position: relative;
  width: calc(100% - 60px);
}



/* position: absolute;
 background: transparent;
 margin-top: -40px;*/
}

/*
p{
  font-family: 'Noto Sans KR', sans-serif;
  padding: 30px 40px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  word-break: keep-all;
  margin: 0px;
}

.left{
  width: 50%;
}

.right{
  width: 50%;
}

#main_title{
  text-align: center;
  font-size: 6rem;
  line-height: 5rem;
  margin: 0px;
  padding: 90px 0px 0px;
}

#sub_title{
  text-align: center;
  font-size: 2.4rem;
}

.week1_page{
  position: relative;
    background: #eee;
}

#week1_page1{
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
  border-bottom: 1px solid;
}

#week1_page2{
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
  border-top: 1px solid;
}


.ytplayer-container{
 position: absolute;
 top: 0px;
 left: 0px;
 z-index: -1;
}


#img_flog{
  position: relative;
  top: 10px;
  left: 50%;
  margin-left: -225px;
  margin-bottom: 100px;
  width: 450px;
  height: 450px;
    -webkit-transition: 1.5s ease-out;
    -moz-transition: 1.5s ease-out;
    transition: 1.5s ease-out;
    background-color: #00ee00;
    border: 1px solid;
}

#img_flog img{
  border: 1px solid;
  border-radius: 500px;
}

#img_flog:hover{
  -webkit-transform: rotateZ(720deg);
    -moz-transform: rotateZ(720deg);
    transform: rotateZ(720deg);
}
*/
/*div #img_flog{
  animation: mainimage 1.5s;
}

@keyframes mainimage {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}


*/

  /*----------------
    scrollbar
  -----------------*/

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000; 
    border: 1px solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}



@media only screen and (max-device-width: 991px) {
.a{
  width: calc(100% - 60px);
}
.b{
  width: calc(100% - 60px);
}
.c{
 width: calc(100% - 60px);
}
}

