body{ 
  background: linear-gradient(0deg, #43ff66, #b0ffbb); 
  color: white;
  font: 7vw 'Roboto', sans-serif !important;
  font-weight: 800; 
  padding: 0;
  margin: 0;
}

[class^=char]{
  display: inline-block !important;
  line-height: 1;
  transform-origin: bottom;
}

.sky{
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: 1;
  background: linear-gradient(0deg, #ff8ecc, #ffc9e6);
}

.box {
    position: absolute;
    width: fit-content;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.tree{
  position: relative;
  width: 18vw;
  float: left;
  padding: 0 0.3vw;
}

svg{
  fill: gainsboro;
}