*{
	margin: 0;
	padding: 0;
	word-break: keep-all;
	-webkit-overflow-scrolling: touch; 
	-webkit-font-smoothing: antialiased;
}

.sky {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: skyblue;
    overflow: hidden;
    animation-name: sky;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sky{
	0%{
		background: skyblue;
	}
	50%{
		background: blue;
	}
	100%{
		background: skyblue;
	}
}

.ground {
    position: fixed;
    width: 100%;
    height: 50%;
    top: 50%;
    background: linear-gradient(0deg, #43ff66, #b0ffbb); 
    z-index: 3;
}


.container{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.tree {
    position: relative;
    width: 8vw;
    height: auto;
    top: 24%;
    z-index: 3;
    float: left;
    cursor: pointer;
}

.trees {
	position: relative;
    width: 100%;
    height: fit-content;
}

.human {
    z-index: 3;
    position: relative;
    width: 13vw;
    top: 30%;
    height: auto;
    float: left;
}

.car {
    position: relative;
    float: left;
    z-index: 3;
    width: 25vw;
    top: 40%;
}

.bug {
    position: relative;
    width: 15vw;
    height: auto;
    z-index: 3;
    float: left;
    top: 60%;
}

.cup {
    position: relative;
    width: 10vw;
    float: left;
    top: 45%;
    z-index: 3;
}

.siso {
    position: relative;
    width: 40vw;
    top: 55%;
    float: left;
    z-index: 3;
}

.bird{
	position: relative;
    width: 20vw;
    top: 45%;
    float: left;
    z-index: 3;
}

.balloon{
	position: relative;
    width: 9vw;
    top: 40%;
    float: left;
    z-index: 3;
}


/*
@keyframes trees{
	0%{
		left: 0%
	}
	100%{
		left: -110.4%;
	}
}*/

/*
@keyframes time{
	0%{
		background: linear-gradient(0deg, pink, blue);
	}
	100%{
		background: blue;
	}
}
*/
/*#bg1{
	background: linear-gradient(0deg, #ff8ecc, #ffc9e6);
	animation-duration: 6s;
	animation-name: time;
}
*/


/*#bg2{
	background: red;
	animation-delay: 2s;
	animation-duration: 2s;
	animation-name: time;
	animation-fill-mode: forwards;
}

#bg3{
	background: blue;
	animation-delay: 4s;
	animation-duration: 2s;
	animation-name: time;
	animation-fill-mode: forwards;
}

#bg4{
	background: green;
	animation-delay: 6s;
	animation-duration: 2s;
	animation-name: time;
	animation-fill-mode: forwards;
}
*/

.circle{
	position: fixed;
	width: 12vw;
	height: 12vw;
	top: 5%;
	left: 50%;
	border-radius: 50%;
	transform: translateX(-50%);
	z-index: 2;
	cursor: pointer;
	overflow: hidden;
	animation: sunmoon;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

/*@keyframes sunmoon{
	0%{
		top: 30%;
		left: calc(100% - 20vw);
	}
	50%{
		top: 0;
		left: calc(50% - 10vw);
	}
	100%{
		top: 30%;
		left: 0%;
	}
}*/

/*@keyframes halb{
	0%{
		
	}
	100%{
	}
}
*/
/*#c1{
	background: linear-gradient(-90deg, #3498db 50%, #ffffff 50%);
}*/

.inner{
	position: absolute;
	width: 100%;
	height: 100%;
}

#innerbg1{
	background: #fff;
	animation-delay: 0.5s;
	animation-duration: 0.3s;
	animation-name: time;
	animation-fill-mode: forwards;
}

#innerbg2{
	background: green;
	animation-delay: 2.5s;
	animation-duration: 0.3s;
	animation-name: time;
	animation-fill-mode: forwards;
}

#innerbg3{
	background: yellow;
	animation-delay: 4.5s;
	animation-duration: 0.3s;
	animation-name: time;
	animation-fill-mode: forwards;
}

#innerbg4{
	background: pink;
	animation-delay: 6.5s;
	animation-duration: 0.3s;
	animation-name: time;
	animation-fill-mode: forwards;
}